<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Register and Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'default_layout.css' %}">
    <link rel="stylesheet" href="{% static 'log_and_reg.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="header">
        <h3>My Shop</h3>
        <a href=""></a>
        <a href="/">Home</a>
    </div>
    <div class="wrapper">
        <h2>Login</h2>
        <form action="/process_login" method="POST">
            {% csrf_token %}
            {% for message in messages %}
            <p style="color: red; text-align: center;">{{message}}</p>
            {% endfor %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password">
                <input type="checkbox" onclick="hidePass()"> Show Password
            </div>
            <button class="btn btn-primary">Login</button>
        </form>
        <a href="/register">Don't have an account? Register</a>
    </div>
</body>
<script>
    function hidePass() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

</html>