<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'default_layout.css' %}">
</head>
<body>
    <div class="header">
        <h3>My Shop</h3>
        <a href="/login">Sign in</a>
    </div>
    <div class="wrapper">
        <h2>Welcome to my eCommerce!</h2>
        <p>We are going to a eCommerce application using a MVC framework!</p>
        <a href="/login">Start</a>  
    </div>
</body>
</html>